@media(min-width:767px){

@for $i from 1 to 20 {
    .dogo:nth-child(#{$i}) { animation-delay: $i * 0.25s; }
  }

  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn { animation-name: fadeIn;}

}