.btn {
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    background-color: $orange;
    font-family: "Raleway";
    padding: 0.5rem 1rem;
    &__primary {
         &--right{
            i {margin-left: 0.4rem;}
         } 
         &--left{
            i {margin-right: 0.4rem;}
         }
     }
    &:hover {
        background-color: $orange_deep;
        color:white;
    }  
} 