.contact, {margin-bottom: 2rem;
  &__orange-row {padding-left:0; padding-right:0; padding-top:1.6rem; margin-top: 2rem; background-color: $orange;}
  &__title {margin-bottom: 1rem; color: white;}
  &__content {margin-top:2rem;}
}

.page, {margin-bottom: 2rem;
  &__orange-row {padding-left:0; padding-right:0; padding-top:1.6rem; margin-top: 2rem; background-color: $orange;}
  &__title {margin-bottom: 1rem; color: white;}
  &__content {margin-top:2rem;
    img {height: auto; width:100%;}
  }

}




.google-maps {
    margin-top:2rem;
  position: relative;
  padding-bottom: 45%;
  height: 450px;
  overflow: hidden; }
  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }