*, *::after, *::before {box-sizing: border-box;}

html {padding:0; margin:0;}
body { padding-top: 6rem; }
body.customize-support {margin-top:-2rem;}
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,900&subset=latin-ext'); /*font-family: 'Raleway', sans-serif;*/

h1, h2, h3, h4, h5, h6, p, ul, li, ol {
    font-family: 'Raleway', sans-serif;
}

a {color: $orange;
&:hover {color: $orange_deep; text-decoration: none;}
}

::placeholder {
    color: gray;
  }

p {margin:0; padding:0;}
h1,h2,h3,h4,h5,h6 {margin:0;}
  
h1{font-size: 2rem;}
@media(max-width:991px){h1{font-size: 1.75rem;}}
@media(max-width:767px){h1{font-size: 1.5rem;}}
@media(max-width:567px){h1{font-size: 1.25rem;}} 
  
h2 {font-size: 1.75rem; color: black; font-weight: 300; color: black; line-height: 1.25; }
@media(max-width:991px){h2{font-size: 1.5rem;}}
@media(max-width:767px){h2{font-size: 1.25rem;}}
@media(max-width:567px){h2{font-size: 1.15rem;}} 
  
h3 {font-size: 1.5rem;} 
@media(max-width:991px){h3{font-size: 1.25rem;}}
@media(max-width:767px){h3{font-size: 1.15rem;}}
@media(max-width:567px){h3{font-size: 1rem;}} 
  
h4 {font-size: 1.35rem;} 
@media(max-width:991px){h4{font-size: 1.30rem;}}
@media(max-width:767px){h4{font-size: 1.25rem;}}
@media(max-width:567px){h4{font-size: 1rem;}} 
  
h5 {font-size: 1.25rem;} 
@media(max-width:991px){h5{font-size: 1.20rem;}}
@media(max-width:767px){h5{font-size: 1.15rem;}}
@media(max-width:567px){h5{font-size: 1rem;}} 
  
p{ font-size: 1.05rem; margin:1rem 0; color: black; line-height: 1.6;}
@media(max-width:991px){p{font-size: 1rem;}}
  