*, *::after, *::before {box-sizing: border-box;}

html {padding:0; margin:0;}
body { padding-top: 6rem; }
body.customize-support {margin-top:-2rem;}
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,900&subset=latin-ext'); /*font-family: 'Raleway', sans-serif;*/


h1, h2, h3, h4, h5, h6, p, ul, li, ol {
    font-family: 'Raleway', sans-serif;
}

h1 {font-size: 2rem;}

a {color: $orange;
&:hover {color: $orange_deep;}
}


::placeholder {
    color: gray;
  }