.page, {margin-bottom: 2rem;
    &__title {margin-bottom: 1rem; color: white;}
    &__content {margin-top:2rem;
      img {height: auto; width:100%;}
    }
  
  }
  
  .news {margin-bottom: 2rem;
    &__title {margin-bottom: 1rem; color: white;}
    &__content {margin-top:2rem;
      
    }
  
  }