.single-dog-block{padding-top:2.125rem;
    &__orange-row {padding-left:0; padding-right:0; padding-top:1.6rem;margin-top: 2rem; background-color: $orange;}
    &__title {margin-bottom: 1rem; color: white;}
    &__content {margin-top:2rem; margin-bottom: 2rem;}
    &__name {margin-bottom: 1rem;}
    h2{display: inline-block; margin-bottom: 0.7rem;}
    
    &__info {
        .main{font-size:1.2rem; font-weight: bold;}
        &--content {margin-top: 1rem;}
        .row {margin-bottom: 1rem;}
    }
    &__guardian{
        h2 {margin-bottom:0.5rem;}
        h3 {font-style: italic;}
    }
}

.dogs-gallery {
    ul {padding:0;}
    li {display: inline; margin-right: 0;}
    &__photo--main {width:100%; margin-bottom: 0.4rem;}
    &__photo--thumbnail {max-height: 6.38rem; cursor: pointer; margin-bottom:0.4rem; }
}

@media (-webkit-min-device-pixel-ratio:0) { 
    .dogs-gallery {
        &__photo--thumbnail {max-height: 6.53rem;}
    }

}

@media(min-width:992px)and(max-width:1199px){
    .dogs-gallery {
        &__photo--thumbnail {max-height: 5.4rem;}
    }
       
}

@media(min-width:768px)and(max-width:991px){
    .dogs-gallery {
        &__photo--thumbnail {max-height: 8.39rem;}
    }
       
}

@media(min-width:576px)and(max-width:767px){
    .dogs-gallery {
        &__photo--thumbnail {max-height: 6.14rem;}
    }
       
}

@media(max-width:414px){
    .dogs-gallery {
        &__photo--thumbnail {max-height: 4.58rem;}
    }
       
}


@media(max-width:375px){
    .dogs-gallery {
        &__photo--thumbnail {max-height: 4.09rem;}
    }
       
}

@media(max-width:360px){
    .dogs-gallery {
        &__photo--thumbnail {max-height: 3.9rem;}
    }
       
}

@media(max-width:320px){
    .dogs-gallery {
        &__photo--thumbnail {max-height: 3.4rem;}
    }
       
}


@media(max-width:320px){
    .dogs-gallery {
        &__photo--thumbnail {max-height: 3.2rem;}
    }
       
}


.for-adoption {
    &__orange-row {padding-left:0; padding-right:0; padding-top:1.6rem; margin-top: 2rem; background-color: $orange;}
    &__title {margin-bottom: 1rem; color: white;}
    &__content {margin-top:2rem;}
    &__dogs-loop {margin-top: 2rem;}
}
 