
.single-block {
    &__orange-row {padding-left:0; padding-right:0; padding-top:1.6rem; margin-top:2rem; background-color: $orange;}
    &__title {margin-bottom: 1rem; color: white;}
    &__content {margin-top:2rem;}

}
.single__content {margin-top:2rem; margin-bottom: 2rem;}